.maintenance-container {
    display: flex;
    flex: 1;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.maintenance-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    gap: 0.8rem;
}

.maintenance-icon-wrapper {
    background-color: #f4f4f4;
    border-radius: 50%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maintenance-icon {
    width: 30px;
    height: 30px;
    color: #003060;
}

.maintenance-header {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 2.75rem;
    color: #003060;
}

.maintenance-subheader {
    color: #aaaaaa;
    text-align: center;
    font-size: 1rem;
}

.maintenance-flex {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    display: flex;
    gap: 0.8rem;
}

.maintenance-button {
    flex: 1;
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 7px;
    background-color: #003060;
    color: white;
    font-size: 0.95rem;
    font-weight: 500;
}

.maintenance-link {
    color: #003060;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}