body {
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #ffffff;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid rgb(19, 44, 80);
    height: 700px;
}

.left,
.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.left {
    padding: 1rem 2rem;
}

.welcome-text {
    font-size: 28px;
    font-weight: 600;
    color: #1ea7ff;
    margin: 10px 0;
    letter-spacing: 1px;
}

.description {
    font-size: 18px;
    color: #6d7375;
    margin-bottom: 60px;
}

.reg-image {
    width: 450px;
}

.right {
    padding: 1rem 2rem;
    background-color: #e2f4ff71;
    border-radius: 0 1rem 0;
}

.form {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
    gap: 10px;
}

.reg-title {
    font-size: 28px;
    color: #093c70;
    font-weight: 650;
    letter-spacing: 1px;
    padding: 10px 0;
}

.message {
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 5px;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

label {
  color: #093c70;
  font-weight: 550;
}

input {
    width: 100%;
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
    border: 1px solid #bcd6f7;
    border-radius: 10px;
    font-size: 1rem;
}

input:focus {
    border: 1px solid #0080ff;
    outline: none;
}

.message,
.signin {
    color: rgba(153, 145, 145, 0.822);
    font-size: 18px;
}

.signin {
    text-align: center;
}

.signin a {
    color: #fbbf24;
    text-decoration: none;
}

.signin a:hover {
    text-decoration: underline;
}


.toggle-password {
  position: absolute;
  right: 18px;
  top: 43px; 
  cursor: pointer;
  color: #64748b;
}

.toggle-password:hover {
  color: #2563eb;
}

.span {
    font-size: 18px;
    margin-left: 5px;
    color: #1ea7ff;
    font-weight: 500;
    cursor: pointer;
}

.button-submit {
    width: 100%;
    background: #1ea7ff;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 0.8rem 2.2rem;
    font-size: 1rem;
    margin: 0.5rem 0;
    transition: background 0.2s;
}

.button-submit:hover {
    background-color: #0080ff;
}

.p {
    text-align: center;
    color: #6d7375;
    font-size: 18x;
    
}
