@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
    border-style: none;
}

body {
    background-color: #ffffff;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

a,
button,
li {
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    padding: 0 20px;
    background-color: #ffffff;
    height: 100%;
}

:root {
    --poppins: "Poppins", sans-serif;
    --lato: "Lato", sans-serif;

    --light: #f9f9f9;
    --blue: #3c91e6;
    --light-blue: #cfe8ff;
    --grey: #eee;
    --dark-grey: #aaaaaa;
    --dark: #342e37;
    --red: #db504a;
    --yellow: #ffce26;
    --light-yellow: #fff2c6;
    --orange: #fd7238;
    --light-orange: #ffe0d3;
}

body.dark {
    --light: #0c0c1e;
    --grey: #060714;
    --dark: #fbfbfb;
}

.error {
    color: red;
    margin-left: 10px;
    font-size: 0.9em;
}

.brand-logo {
    width: 70px;
    height: 70px;
    margin-left: 3px;
    display: block;
    object-fit: contain;
}

/* Calendar Styling */

/* Calendar Styling */
#calendar {
    width: 100%;
    height: 800px;
    font-family: "Poppins", sans-serif;
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
}

/* Header Toolbar  */
/* Header Toolbar  */
.fc-header-toolbar {
    background-color: #1ea7ff;
    color: #fff;
    font-weight: 600;
    padding: 12px   ;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

/* Buttons */

.fc .fc-button {
    background-color: #ffffff; /* green background */
    color: #1ea7ff;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    font-weight: bold;
}

/* Active button */
.fc .fc-button.fc-button-active {
    background-color: #388e3c; /* darker green for active */
    color: #fff;
}

.fc .fc-button,
.fc .fc-button:focus,
.fc .fc-button:hover,
.fc .fc-button.fc-button-active {
    box-shadow: none !important;
    border: none !important;
}

/* Hover effect */
.fc .fc-button:hover {
    background-color: #66bb6a;
    color: white;
}

/* Disabled button */
.fc .fc-button.fc-button-disabled {
    background-color: #ccc;
    color: #888;
}
