@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

body {
    background-color: #ffffff;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

a,
button {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    padding: 20px 30px;
}

:root {
    --poppins: "Poppins", sans-serif;
    --lato: "Lato", sans-serif;

    --light: #f9f9f9;
    --blue: #3c91e6;
    --light-blue: #cfe8ff;
    --grey: #eee;
    --dark-grey: #aaaaaa;
    --dark: #342e37;
    --red: #db504a;
    --yellow: #ffce26;
    --light-yellow: #fff2c6;
    --orange: #fd7238;
    --light-orange: #ffe0d3;
}

body.dark {
    --light: #0c0c1e;
    --grey: #060714;
    --dark: #fbfbfb;
}

.error {
    color: red;
    margin-left: 10px;
    font-size: 0.9em;
}

.brand-logo {
    width: 70px;
    height: 70px;
    margin-left: 3px;
    display: block;
    object-fit: contain;
}
